* {
  font-family: var(--font-Oxygen);
  box-sizing: border-box;
  outline: none;
}
body {
  overflow-x: hidden;
}

@import "tailwindcss";

@theme {
  --font-Oxygen: "Oxygen", sans-serif;
  --breakpoint-3xl: 120rem;
  --color-CECCCC: #cecccc;
  --color-3D3D3D: #3d3d3d;
  --color-666666: #666666;
  --color-2D2D2D: #2d2d2d;
  --color-414141: #414141;
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}

button {
  cursor: pointer;
}
input:focus {
  outline: none;
}
.embla {
  max-width: 100%;
  overflow: hidden;
  margin: auto;
  --slide-height: 50rem;
  --slide-spacing: 1rem;
  --slide-size: 25%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #22c55e; /* yeşil */
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}
